{%extends 'base.html'%}
{% load static%}
{% block content %}

{{block.super}}

<!--related images -->
<div class="container-fluid wrap" >
    <div class="row" style="background-color: #d4d1d1;">
    {% for image in images %}
         <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
             <div class="portfolio-wrap ">
                 <div class="portfolio-wrap hovereffect">
                     <a class="img-overlay" data-toggle="#myModal" data-target="#{{image.id}}" style="width:100%" >
                         <img src="{{image.image.url}}" href="#myModal" class="image pt-3" alt="Image" style="height: 150px; width: 100%;">
                     </a>
                 </div>
             </div>
         </div>
    {% empty %}
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <img src="" alt="">
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 p-4">
        <h5 class="text-center"> : (&nbsp; We Didn't Find Any Related Images</h5>
    </div>
    {% endfor %}
</div>




{% if images%}
<h4 class="text-dark text-center p-2">{{message | title}}</h4>
{% else %}
<h4>No images in {{message}}</h4>
{% endif %}

<div class="container wrap">
    <!-- Looping through images -->
    <div class="row">
    {% for image in images %}
        <!-- displaying images -->
         <div class="col-xs-6 col-sm-6  col-md-4 col-lg-3">
                 <div class="portfolio-wrap ">
                     <div class="portfolio-wrap hovereffect">
                         <a class="img-overlay" data-toggle="modal" data-target="#myModal{{image.id}}" style="width:100%">
                             <img src="{{image.image.url}}" href="#myModal" class="image" alt="Image" style="height: 300px; width: 400px;">
                         </a>
                     </div>
                 </div>
             </div>
        {% empty %}
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <img src="{% static 'images/sorry.png' %}" alt="" class = "oops">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h2 class="text-center"> Sorry no image for {{message}} category. Images are coming soon.</h2>
        </div>
    </div>
    {% endfor %}

    <!-- looping through image details modal class -->
    {% for image in images %}
        <div class="modal fade" id="myModal{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Image Post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-9 col-lg-9">
                                <a href="{% url 'single' category_name=image.category.name image_id=image.id %}"><img id="img{{image.id}}" src="{{image.image.url}}" class="img-thumbnail" alt="Image" style="cursor:pointer"></a>
                            </div>
                            <div class="col-md-3">
                                <h4>Location</h4>
                                <p>{{image.location.name}}</p>
                                <h4>Category</h4>
                                <p>{{image.category.name}}</p>
                            </div>
                            <div>
                                <h2 class="desc">{{image.name}}</h2>
                                <p class="desc">{{image.description}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" value="https://picsabay.herokuapp.com{{ image.image.url}}" onclick="copyURL(this.value)">Copy URL</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function copyURL(value){
              function handler(event){
                event.clipboardData.setData('text/plain',value);
                event.preventDefault();
                document.removeEventListener('copy',handler, true);
              }
              document.addEventListener('copy', handler, true);
              document.execCommand('copy');
            }
            alert("Copied: " + value);
        </script>
    {% endfor %}
</div>

{% endblock %}