{%extends 'base.html'%}
{% load static%}
{% block content %}

{{block.super}}


<!-- Landing Page -->
<div class="banner-1">
    <div class="cover-1">
        <h2>{{image.category.name}} Category</h2>
        <div class="container imageloc">
            <form class="form" role="search" action="{% url 'search_image' %}">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="&#xf3ee; Search by category"name="category">
                  <br>
                 </div>
                 <small>Try: Nature, travel...</small>
              </form>
          </div>
      </div>
  </div>


<!-- displaying image -->
<div class="container wrap">
    <div class="row">
         <div class="col-md-8">
             <div class="portfolio-wrap ">
                 <div class="portfolio-wrap">
                     <a class="img-overlay" data-toggle="modal" data-target="#myModal{{image.id}}" style="width:100%">
                         <img src="{{image.image.url}}" href="#" class="image" alt="Image" >
                     </a>
                 </div>
             </div>
         </div>
         <div class="col-md-4">
             <h4>{{image.name}}</h4>
             <p class="text-muted">{{image.category}} | {{image.location}}</p>
             <p>{{image.description}}</p>
         </div>
     </div>
</div>

<!-- Displaying related images -->
<div class="container-fluid wrap">
    <h4 class="text-center"> View Related Images </h4>
    <hr>
    <!-- Looping through images -->
    <div class="row">
    {% for image in category %}
         <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
             <div class="portfolio-wrap ">
                 <div class="portfolio-wrap hovereffect">
                     <a class="img-overlay" data-toggle="#myModal" data-target="#myModal{{image.id}}" style="width:100%" >
                         <img src="{{image.image.url}}" href="#myModal" class="image" alt="Image" >
                     </a>
                 </div>
             </div>
         </div>
    {% empty %}
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <img src="" alt="">
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 p-4">
        <h5 class="text-center"> : (&nbsp; We Didn't Find Any Related Images</h5>
    </div>
    {% endfor %}
</div>

{% endblock %}